<div class="wrapper">
    <div class="headband headband--big ui blue basic inverted segment very padded">
        <div class="ui text container">
            <h1 class="ui center inverted aligned header">
        <div class="content">
          Bienvenue sur <br> Cordon Electronics SAV
          <div class="sub header">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nisi ligula, pretium id suscipit id, scelerisque ut elit. Duis nisl ipsum</div>
        </div>
      </h1>
        </div>
        <div class="ui divider hidden"></div>
        <div class="ui container grid three column stackable">
            <div class="column">
                <a [routerLink]="['/panne']" class="ui button big green fluid">Réparer mon appareil</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="column">
                <a class="ui button big white fluid">Recyclage</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="column">
                <a class="ui button big white fluid">Econectik</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
