<div class="footer ui black basic inverted segment very padded">
  <div class="ui container grid four column stackable">

    <div class="ui column">
      <div class="ui vertical text inverted menu">
        <div class="header item">Sort By</div>
        <a class="active item">
          Closest
        </a>
        <a class="item">
          Most Comments
        </a>
        <a class="item">
          Most Popular
        </a>
      </div>
    </div>

    <div class="ui column">
      <div class="ui vertical text inverted menu">
        <div class="header item">Sort By</div>
        <a class="active item">
          Closest
        </a>
        <a class="item">
          Most Comments
        </a>
        <a class="item">
          Most Popular
        </a>
      </div>
    </div>

    <div class="ui column">
      <div class="ui vertical text inverted menu">
        <div class="header item">Sort By</div>
        <a class="active item">
          Closest
        </a>
        <a class="item">
          Most Comments
        </a>
        <a class="item">
          Most Popular
        </a>
      </div>
    </div>

    <div class="ui column mobile hidden">
      <a href="index.html"><img class="logo" src="./images/logo.png"></a>
    </div>
  </div>
</div>
